#page {
	opacity: .8;
	border-radius: 7px;
	box-shadow: 0px 0px 8px white;
}
article {
	background-color: rgba(0,0,0,.8);
	border-radius: 7px;
	box-shadow: 0px 0px 8px white;
}
.entry-title {
	text-align: center;
}
.header-image,#meta-2,#search-2,#recent-posts-2,#recent-comments-2,#archives-2,#categories-2,#calendar-4 {
	border-radius: 7px;
	box-shadow: 0px 0px 8px white;
}
.katex {
	color: yellowgreen;
}
