#page {
	opacity: .8;
	border-radius: 7px;
	box-shadow: 0px 0px 8px white;
}
article {
	background-color: rgba(0,0,0,.8);
	border-radius: 7px;
	box-shadow: 0px 0px 8px white;
}
.entry-title {
	text-align: center;
}
.header-image,.widget {
	border-radius: 7px;
	box-shadow: 0px 0px 8px white;
}
.katex {
	color: yellowgreen;
}
.entry-content {
	margin-right: 30px;
}
.entry-footer {
	margin-left: 10px;
}
body {
	background-image: url('https://cdn.jsdelivr.net/gh/wangstong/mycdn/images/bg.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
